{% extends 'base.html' %}
{% load static %}

{% block content %}
    <main class="container">
        <div class="row p-4 p-md-4 mb-5 rounded-2 text-body-emphasis bg-body-secondary">
          <div class="col-lg-6 px-0 bg-ligth">
            <h1 class="display-4 ">Welcome</h1>
            <p class="lead my-3 fst-italic">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
            <p class="lead mb-0">
              <a href="#" class="text-body-emphasis fw-bold">Continue reading...</a>
              <div class="link">
                <a href=""><img src="{% static 'img/autologo.png' %}" alt=""></a>
                <a href=""><img src="{% static 'img/autologo.png' %}" alt=""></a>
                <a href=""><img src="{% static 'img/autologo.png' %}" alt=""></a>
              </div>
            </p>
          </div>
          <div class="col-lg-6 px-0">
            <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner" >
                <div class="carousel-item active" style="border-color: transparent;">
                  <img src="{% static 'img/autologo.png' %}" class="bd-placeholder-img" width="100%" height="280px" />
                  <div class="container">
                    <div class="carousel-caption text-start">
                      <h1>Example headline.</h1>
                      <p class="opacity-75">Some representative placeholder content for the first slide of the carousel.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{% static 'img/autologo.png' %}" class="bd-placeholder-img" width="100%" height="280px" />
                  <div class="container">
                    <div class="carousel-caption">
                      <h1>Another example headline.</h1>
                      <p>Some representative placeholder content for the second slide of the carousel.</p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="{% static 'img/autologo.png' %}" class="bd-placeholder-img" width="80%" height="280px" />
                  <div class="container">
                    <div class="carousel-caption text-end">
                      <h1>One more for good measure.</h1>
                      <p>Some representative placeholder content for the third slide of this carousel.</p>
                    </div>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
    
        </div>
    </main>
{% endblock %}
    

    