
  <section class="section">
    <div class="row">
      <div class="col-lg-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Button Badges</h5>
            <button type="button" class="btn btn-light mb-2">
              Light <span class="badge bg-secondary text-light">4</span>
            </button>
            <span class="badge border-success border-1 text-success">Success</span>
            <span class="badge border-danger border-1 text-danger">Danger</span>
          </div>
        </div>
      </div>
    </div>
  </section>
