{% extends 'basefinal.html' %}

{% block title %}
    Liste Eleves
{% endblock  %}

{% block entete %}
    <h1>Contact</h1>
{% endblock %}


{% block content %}
  <section class="section contact">
    <div class="row gy-4">
      <div class="col-xl-12">
        <div class="row">
          <div class="col-lg-4">
            <div class="info-box card">
              <i class="bi bi-geo-alt"></i>
              <h3>Address</h3>
              <p>KOUMASSI REMBLAIS<br>BP ABIDJAN</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="info-box card">
              <i class="bi bi-telephone"></i>
              <h3>Tel</h3>
              <p>+225 0707070707<br>+225 0100010100</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="info-box card">
              <i class="bi bi-envelope"></i>
              <h3>Email Us</h3>
              <p>autoecole@example.com<br>auto_ecole00@example.com</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="info-box card">
              <i class="bi bi-clock-history"></i>
              <h3>Overt</h3>
              <p>Lundi - Samedi<br>08:00AM - 17:00PM</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="info-box card">
              <i class="bi bi-gear-wide-connected"></i>
              <h3>Reparation</h3>
              <p><i style="font-size: 14px;" class="bi bi-telephone"></i> Voiture: +225 0787532210<br><i style="font-size: 14px;" class="bi bi-telephone"></i> Moto: +225 0505619908 </p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="info-box card">
              <i class="bi bi-person-fill-gear"></i>
              <h3>Administrateur</h3>
              <p><i style="font-size: 14px;" class="bi bi-telephone"></i>+225 0787532210<br><i style="font-size: 14px;" class="bi bi-telephone"></i>+225 0505619908 </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>
{% endblock %}
